@define-color bar_bg #1e1d2f;
@define-color bar_fg #d9e0ee;
@define-color module_bg #282839;
@define-color module_fg @bar_fg;
@define-color hover_bg #7aa2f7;
@define-color hover_fg #1e1d2f;
@define-color border_color @hover_bg;
@define-color launcher @hover_bg;
@define-color special #abe9b3;
@define-color special_fg #1e1d2f;
@define-color power #f28fad;