@define-color bar_bg #1e2127;
@define-color bar_fg #ffffff;
@define-color module_bg #282b31;
@define-color module_fg @bar_fg;
@define-color hover_bg #61afef;
@define-color hover_fg #1e2127;
@define-color border_color @hover_bg;
@define-color launcher @hover_bg;
@define-color special #98c379;
@define-color special_fg #1e2127;
@define-color power #e06c75;