/* Sunset Orange Preset */
@define-color bar_bg transparent;
@define-color bar_fg #f5f5f5;
@define-color module_bg #1c1b1acc;
@define-color module_fg #f5f5f5;
@define-color hover_bg #4a4a4a;
@define-color hover_fg #ffffff;
@define-color border_color #585b70;
@define-color workspace_bg #1c1b1ad9;
@define-color workspace_button_bg #1c1b1ad9;
@define-color workspace_active_bg #ff7043f2;
@define-color workspace_text #f5f5f5;
@define-color workspace_active_text #1a1a1a;